@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html, body {
    height: 100vh;
    font-family: 'Lato', 'sans-serif';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

.box {
    height: 100%;
    display: flex;
}

.left-box {
    width: 40%;
    position: relative;
}

.logo {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 42px;
    letter-spacing: 4px;
    opacity: 0.9;
}

.right-box {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    justify-content: center;
    gap: 30px;
}

.right-box p {
    font-size: 24px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-top: 20px;
}

legend {
    font-size: 22px;
    font-weight: bold;
}

#inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 75px;
}

#inputs div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: 700;
}

input {
    width: 350px;
    height: 40px;
    padding: 5px 7.5px;
    font-size: 20px;
}

button {
    border: none;
    padding: 15px 30px;
    background-color: #596D48;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

button:hover {
    transform: scale(0.98);
}

#bottom-text {
    font-size: 20px;
    font-weight: normal;
}

#bottom-text a{
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}